<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to my app. Please login or register!</h2>
    <fieldset>
        <legend>Register</legend>
        <form method="post" action="/process_info/register">
            <input type="hidden" name="action" value="register">
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Email: <input type="text" name="email">
            Password: <input type="password" name="password"><br>
            <input type="submit" value="Register">
        </form>

    </fieldset>
    <fieldset>
        <form method="post" action="/process_info/login">
            <input type="hidden" name="action" value="login">
            Email: <input type="text" name="email">
            Password: <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </fieldset>
</body>
</html>