<html>
    <body>   
        {% if name == "Minh" %}
        <h2>Hello Instructor {{name}}</h2>
        {% else %}
        <h2>Hello {{name}}</h2>
        {% endif %}
        {% for student in students %}
        <p>{{student}}</p>
        {% endfor %}
        
        <img src="{{ url_for('static', filename='cat.jpeg') }}" alt="">

        <form action="/send_data" method="POST">
            <input type="text" name="first_name">
            <input type="submit">
        </form>
    </body>
</html>