<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter User Dashboard</title>
</head>
<body>
    <a href="/logout">logout</a>
    <h2>Add a Tweet</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="/addtweet" method="POST">
        <input type="text" name="content" placeholder="tweet content">
        <input type="submit">
    </form>

    <h2>Your Tweets:</h2>
    <table>
      <tr>
        <th>Date</th>
        <th>Tweet</th>
        <th>Posted by</th>
      </tr>
      {% for msg in all_tweets: %}
        {% if msg.users_id == session["id"] or msg.users_id in leader_ids %}
      <tr>
        <td>{{ msg['tweet_date'] }}</td>
        <td>{{ msg['content'] }}</td>
        <td>{{ msg['username'] }}</td>
      </tr>
        {% endif %}
      {% endfor %}
    </table>
    <fieldset>
        <legend>All Users</legend>
        <ul>
        {% for user in filtered_users %}
            {% if user.id != session["id"] and user.id not in leader_ids %}         
            <li>{{user.username}} <a href="/follow/{{user.id}}">Follow</a></li>
            {% elif user.id != session["id"] %}
            <li>{{user.username}} <a href="/unfollow/{{user.id}}">unfollow</a></li>
            {% endif %}            
        {%endfor%}
        </ul>
    </fieldset>
</body>
</html>