<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/process" method="POST">
        <input type="hidden" name="mySecret" value="ten">
        <input type="text" name="content">
        <input type="text" name="posted_by">
        <input type="submit">
    </form>
    <form action="/process" method="POST">
        <input type="hidden" name="mySecret" value="fifteen">
        <input type="text" name="content">
        <input type="text" name="posted_by">
        <input type="submit">
    </form>
</body>
</html>