<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>

</head>
<body>
    <a href='#'>Barrett Bolivar</a>
    <img src="{{ url_for('static', filename='me.jpg') }}">
    <form action='/process' method='post'>
        Name: <input type='text' name='name'>
        Gender: <input type='text' name='gender'>
        Location: <input type='text' name='location'>
        <input type='submit' value='create user'>
    </form>
</body>
</html>